*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
    background: rgb(217, 240, 217);
    margin: 10px 40px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid green;
    border-radius: 15px;
}

h3 {
    text-align: center;

}

ol li {
    margin-bottom: 5px;
}

ol {
    display: none;
}

.displayBlock {
    display: block;
}

.btn {
    border: 1px solid rgb(7, 92, 21);
    border-radius: 20px;
    background: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    margin: auto;
    display: flex
}

.typeVariable {
    color: red;
    text-decoration: dotted;
}

